# Pandas Practice

In [54]:
# Import pandas
import pandas as pd

In [57]:
# Create a series of three different colours
series = pd.Series(["red", "blue", "green"])

In [58]:
# View the series of different colours
series

0      red
1     blue
2    green
dtype: object

In [62]:
# Create a series of three different car types and view it
car_brand = pd.Series(["BMW", "Honda", "Fiat"])
car_type = pd.Series(["Coupe", "Normal", "Minivan"])
car_brand, car_type

(0      BMW
 1    Honda
 2     Fiat
 dtype: object,
 0      Coupe
 1     Normal
 2    Minivan
 dtype: object)

In [64]:
# Combine the series of cars and colours into a DataFrame
car_data = pd.DataFrame({"Brand": car_brand, "Type": car_type})
car_data

   Brand     Type
0    BMW    Coupe
1  Honda   Normal
2   Fiat  Minivan

In [6]:
# Import "../data/car-sales.csv" and turn it into a DataFrame

In [7]:
# Export the DataFrame created to a .cas file

In [8]:
# Find the different datatypes of the car data DataFrame

In [9]:
# Describe your current car sales DataFrame using describe()

In [10]:
# Get information about your DataFrame using info()

In [11]:
# Create a Series of different numbers and find the mean of them

In [12]:
# Create a Series of different numbers and find the sum of them

In [20]:
# List out all the column names of the car sales DataFrame

In [14]:
# Find the length of the car sales DataFrame

In [15]:
# Show the first 5 rows of the car sales DataFrame

In [16]:
# Show the first 7 rows of the car sales DataFrame

In [17]:
# Show the bottom 5 rows of the car sales DataFrame

In [18]:
# Use .loc to select the row at index 3 of the car sales DataFrame

In [19]:
# Use .iloc to select the row at position 3 of the car sales DataFrame

In [21]:
# Select the "Odometer (KM)" column from the car sales DataFrame

In [22]:
# Find the mean of the "Odometer (KM)" column in the car sales DataFrame

In [23]:
# Select the rows with over 100,000 kilometers on the Odometer

In [24]:
# Create a crosstab of the Make and Doors columns

In [25]:
# Group columns of the car sales DataFrame by the Make column and find the average

In [26]:
# Import Matplotlib and create a plot of the Odometer column
# Don't forget to use %matplotlib inline

In [27]:
# Create a histogram of the Odometer column using hist()

In [28]:
# Try to plot the Price column using plot()

In [29]:
# Remove the punctuation from price column

In [30]:
# Check the changes to the price column

In [31]:
# Remove the two extra zeros at the end of the price column

In [32]:
# Check the changes to the Price column

In [33]:
# Change the datatype of the Price column to integers

In [34]:
# Lower the strings of the Make column

In [35]:
# Make lowering the case of the Make column permanent

In [36]:
# Check the car sales DataFrame

In [37]:
# Import the car sales DataFrame with missing data ("../data/car-sales-missing-data.csv")
# Check out the new DataFrame

In [38]:
# Fill the Odometer column missing values with the mean of the column inplace

In [39]:
# View the car sales missing DataFrame and verify the changes

In [40]:
# Remove the rest of the missing data inplace

In [41]:
# Verify the missing values are removed by viewing the DataFrame

In [42]:
# Create a "Seats" column where every row has a value of 5

In [47]:
# Create a column called "Engine Size" with random values between 1.3 and 4.5
# Remember: If you're doing it from a Python list, the list has to be the same length
# as the DataFrame

In [48]:
# Create a column which represents the price of a car per kilometer
# Then view the DataFrame

In [49]:
# Remove the last column you added using .drop()

In [50]:
# Shuffle the DataFrame using sample() with the frac parameter set to 1
# Save the the shuffled DataFrame to a new variable

In [ ]:
# Reset the indexes of the shuffled DataFrame

In [51]:
# Change the Odometer values from kilometers to miles using a Lambda function
# Then view the DataFrame

In [52]:
# Change the title of the Odometer (KM) to represent miles instead of kilometers